* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#no-ssr-container {
  position: fixed;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  /* Copyright https: //www.vecteezy.com/members/pking4th */
  background-image: url(./slots.jpg);
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 400px;
}